*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e3f9ff;
}
h1{
    color: black;
    text-align: center;
    padding: 3%;
}
.container{
    max-width: 250px;
    height: 400px;
    background-color: #3a4452;
    margin: 0 auto;
    padding: 40px;
    border-radius: 5%;


}
.calculator{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 4px;
    padding-top: 3%;
}
#result{
    display: block;
    width: 95%;
    height: 3%;
    margin-bottom: 15px;
    padding: 12px;
    font-size: 18px;
    border-radius: 2px;


}
button{
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

button:hover[onclick="clearResult()"],
button:hover[onclick="deleteLast()"]{
   background-color: brown;
}
button:hover{ 
     background-color: burlywood;

}